/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
/* fonts and weight */
h1 {
  font-family: 'Anton', sans-serif;
}

header p {
  font-family: 'Roboto', sans-serif;
}

nav a {
  font-family: 'Roboto', sans-serif;
}

.profile-box-text h2 {
  font-family: 'Anton', sans-serif;
}

.profile-box-text p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
} 

.profile-box-text li {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
} 

.main-content-text h2 {
  font-family: 'Anton', sans-serif;
}

.main-content-text li {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
} 

.main-content-text th {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
} 

.main-content-text td {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
} 

.main-content-text p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
} 

.copyright {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

/* header styles */
header {
  background: #81D8D0;
  width: 800px;
  height: 197px;
}

/* profile box */
.profile-box {
  background: #E9ECEF;
  width: 313px;
  height: 933px;
}
/* List styles */
ul {
  list-style-type: none;
  }

/* Table */
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #E9ECEF;}